@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.chatbot-container {
  /* position: relative; */
}

.chat-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-color: #fffaf3cb;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease, transform 0.2s ease;
  /* Add transition for smooth scaling */
}

.chat-button:hover {
  background-color: #FFFAF3;
  transform: scale(1.1);

}

.chat-button.open {
  background-color: #846effd1;
}

.chatbox {
  position: absolute;
  bottom: 100px;
  right: 70px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 30px;

}

.configureBox {
  position: absolute;
  bottom: 570px;
  right: 70px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.gradient-background {
  background: linear-gradient(to bottom, #ec7b4f, #FB9E50);
}
.configure-data {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  /* Adjust the duration as needed */
}

.configure-data.open {
  max-height: 1000px;
  /* Set a reasonable max-height value to expand to */
  opacity: 1;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1.1);
  }
}

.chat-button.open {
  animation: pulse 0.3s;
  /* Adjust the duration as needed */
}